body{
    color: #333;
    font-family: 'DINPro-Regular',sans-serif;
    font-size: 18px;
    padding-top:160px;
    background-color: white;
    height: 100%;
    margin: 0;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    -webkit-text-size-adjust: none;
}
html{
    height: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: block;
    margin: 0;
}
div{
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border: 0px;
    outline: 0px;
    font-size: 100%;
}
header .top-header{
    background-color: black;
    height: 60px;
    padding-right: 40px;
    text-align: right;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
header .top-header .scroll{
    margin-top: -60px;
}

*{
    box-sizing:border-box;
}
nav{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
header .top-header nav {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
header .top-header nav a {
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    padding: 0 20px;
    color: #fff;
    font-family: 'DINPro-Light',sans-serif;
    font-size: 12px;
}
a{
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /*padding-right: 20px;
    padding-left: 20px;*/
    
}
header .top-header nav a:hover {
    color: #2dccd3;
}
header .top-header nav a.sahl {
    background-color: #0c6c63;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    line-height: 36px;
    margin-left: 20px;
    font-size: 14px;
    
}
header  .top-header nav a.internet-banking {
    background-color: #2dccd3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    line-height: 36px;
    margin-left: 20px;
    font-size: 14px;
}
header .top-header nav a.vooma {
    background-color: #891755;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 20px;
    line-height: 36px;
    font-size: 14px;
}
header .middle-bar{
    height: 50px;
    background-color:#003d4c;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    color: white;
    display: table;
    width: 100%;
}
header .middle-bar .middle {
    display: table-cell;
    vertical-align: middle;
}
header .middle-bar .middle .left {
    font-size: 0;
}
header .logo {
    display: inline-block;
    vertical-align: middle;
    width:151px;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border: none;
    display: block;
}
header .bank{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
}
span{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
header .country-selector {
    margin-left: 20px;
}
.country-selector {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
header .country-selector > a {
    line-height: 50px;
}
.country-selector > a {
    display: block;
    font-size: 0;
    color: #fff;
    padding-right: 24px;
    position: relative;
}
.country-selector .flag .ke {
    background-position: 0 0;
        background-position-x: 0px;
        background-position-y: 0px;
}
.country-selector .flag {
    background: url("flag.png") 0 0 no-repeat;
    width: 32px;
    height: 22px;
    background-size: 600%;
}
.country-selector span {
    display: inline-block;
    vertical-align: middle;
}
.country-selector .country-code {
    font-family: 'DINPro-Light',sans-serif;
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    top: -1px;
}
.country-selector > a::after {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px;
    font-family: 'Font Awesome\ 5 Free' !important;
    content: "\f107";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
header .country-selector .open .countries-list {
    display: block;
}
header .countries-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    background-color: #fff;
    width: 160px;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2) , 0 3px 14px 2px rgba(0,0,0,.12) , 0 8px 10px 1px rgba(0,0,0,.14);
}
header .countries-list .country {
    font-size: 14px;
    color: #333;
    margin-left: 8px;
    position: relative;
    top: -1px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
li{
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
header .countries-list a {
    padding: 10px;
    display: block;
}
header .countries-list .flag {
    width: 24px;
    height: 16px;
}
header .countries-list .flag.ug {
    background-position: -24px 0;
}
header .countries-list .flag.tz {
    background-position: -48px 0;
}
header .countries-list .flag.rw {
    background-position: -96px 0;
}
header .countries-list .flag.ss {
    background-position: -72px 0;
}
header .countries-list .flag.bi {
    background-position: -120px 0;
}
header .countries-list .flag.bi {
    background-position: -120px 0;
}
